force-app/main/default/flows/Add_Prescription_From_Patient_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Rx_Decision</name>
        <label>Create Rx Decision</label>
        <locationX>849</locationX>
        <locationY>749</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewlyCreatedRxId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Rx_Number</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewlyCreatedRxId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Something_Went_Wrong_Screen</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Formulary_Record_Search_Decision</name>
        <label>Formulary Record Search Decision</label>
        <locationX>272</locationX>
        <locationY>475</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulary_Record_Not_Found</targetReference>
            </connector>
            <label>Record Not Found</label>
        </rules>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formulary_Choice_Set_Screen</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Verification</name>
        <label>Patient Verification</label>
        <locationX>846</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_is_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Prescription_Screen</targetReference>
            </connector>
            <label>Patient is Correct</label>
        </rules>
        <rules>
            <name>Patient_is_Incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bye_now_screen</targetReference>
            </connector>
            <label>Patient is Incorrect</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>FormularyChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Formulary_Title__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Formulary_Title__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Product_Name</elementReference>
            </value>
        </filters>
        <limit>5</limit>
        <object>Formulary__c</object>
        <outputAssignments>
            <assignToReference>varSearchValue</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add Prescription From Patient Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Prescription From Patient Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Prescription</name>
        <label>Create Prescription</label>
        <locationX>568</locationX>
        <locationY>747</locationY>
        <assignRecordIdToReference>varNewlyCreatedRxId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Rx_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Exception_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Daily_Dose__c</field>
            <value>
                <elementReference>Daily_Dose</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direction__c</field>
            <value>
                <elementReference>Rx_Direction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filled__c</field>
            <value>
                <elementReference>Filled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>varPatientRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Formulary_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>Rx_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refills__c</field>
            <value>
                <elementReference>Rx_Refills</elementReference>
            </value>
        </inputAssignments>
        <object>Prescription__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Formulary_Collection</name>
        <label>Get Formulary Collection</label>
        <locationX>557</locationX>
        <locationY>473</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Formulary_Record_Search_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Formulary__c</object>
        <outputReference>varFormularyList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Formulary_Title__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Rx_Number</name>
        <label>Get New Rx Number</label>
        <locationX>852</locationX>
        <locationY>999</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successful_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewlyCreatedRxId</elementReference>
            </value>
        </filters>
        <object>Prescription__c</object>
        <outputReference>varNewRxRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Patient</name>
        <label>Look up Patient</label>
        <locationX>274</locationX>
        <locationY>266</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Patient_Verification_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPatientId</elementReference>
            </value>
        </filters>
        <object>Patient__c</object>
        <outputReference>varPatientRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Date_Of_Birth__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Bye_now_screen</name>
        <label>Bye now screen</label>
        <locationX>1189</locationX>
        <locationY>265</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Bye_now_text</name>
            <fieldText>&lt;p&gt;Ok. Bye now!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Exception_Screen</name>
        <label>Exception Screen</label>
        <locationX>426</locationX>
        <locationY>948</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExceptionText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_1</name>
        <label>Fault Screen 1</label>
        <locationX>70</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Faultmessage1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_2</name>
        <label>Fault Screen 2</label>
        <locationX>697</locationX>
        <locationY>668</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FualtMessage2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Formulary_Choice_Set_Screen</name>
        <label>Formulary Choice Set Screen</label>
        <locationX>282</locationX>
        <locationY>747</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Prescription</targetReference>
        </connector>
        <fields>
            <name>Formulary_Picklist</name>
            <choiceReferences>FormularyChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Formulary Picklist</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rx_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Rx Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Value must be greater than 0 and less than 1000&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(
{!Rx_Quantity} &gt; 0,
1000 &gt; {!Rx_Quantity} 
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Rx_Refills</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Rx Refills</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot be greater than 100&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Rx_Refills} &lt; 100</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Rx_Direction</name>
            <fieldText>Rx Direction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Cannot leave instruction blank&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISBLANK({!Rx_Direction}))</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Daily_Dose</name>
            <dataType>Number</dataType>
            <fieldText>Daily Dose</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;Please enter daily dose in #.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;e.g.) 2 T BID = 6, 1 puff BID = 2. Enter 0 if not applicable.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Filled</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Filled?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Are you filling this prescription now? Checking this will automatically decrement refill and follow up with necessary processes.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Formulary_Record_Not_Found</name>
        <label>Formulary Record Not Found</label>
        <locationX>50</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Formulary_Record_Not_Found_Text</name>
            <fieldText>&lt;p&gt;We couldn&apos;t find anything that contains &quot;{!Product_Name}&quot;. Please try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_Verification_Screen</name>
        <label>Patient Verification Screen</label>
        <locationX>557</locationX>
        <locationY>266</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Patient_Verification</targetReference>
        </connector>
        <fields>
            <name>PatientInformationText</name>
            <fieldText>&lt;p&gt;Please verify the patient information.&lt;/p&gt;&lt;p&gt;Patient Name: &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!varPatientRecord.Name}, &lt;/b&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!varPatientRecord.First_Name__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;DOB: &lt;/span&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!varPatientRecord.Date_Of_Birth__c}&lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Continue</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Continue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Prescription_Screen</name>
        <label>Search Prescription Screen</label>
        <locationX>854</locationX>
        <locationY>473</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Formulary_Collection</targetReference>
        </connector>
        <fields>
            <name>Product_Name</name>
            <dataType>String</dataType>
            <fieldText>Search Product:</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Something_Went_Wrong_Screen</name>
        <label>Something_Went_Wrong_Screen</label>
        <locationX>1119</locationX>
        <locationY>746</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Something_Went_Wrong_Text</name>
            <fieldText>&lt;p&gt;Uh oh, something went wrong. Please try again!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful_Screen</name>
        <label>Successful Screen</label>
        <locationX>672</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Successfully created prescription for the patient.&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!varNewRxRecord.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>148</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Look_up_Patient</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varForm1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Formulary__c</objectType>
    </variables>
    <variables>
        <name>varFormularyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Formulary__c</objectType>
    </variables>
    <variables>
        <name>varFormularyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFormularyIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFormularyList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Formulary__c</objectType>
    </variables>
    <variables>
        <name>varFormularySingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Formulary__c</objectType>
    </variables>
    <variables>
        <name>varNewlyCreatedRxId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNewRxRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
    <variables>
        <name>varObjAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPatientRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Patient__c</objectType>
    </variables>
    <variables>
        <name>varPtDOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPtFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPtLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSearchValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
