force-app/main/default/flows/Create_Patient_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_Patient_Exist</name>
        <label>Does Patient Exist</label>
        <locationX>577</locationX>
        <locationY>305</locationY>
        <defaultConnector>
            <targetReference>Patient_Feedback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatientInfo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Patient Not Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Patientchoice</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientInfo.Id</elementReference>
            </value>
        </filters>
        <object>Patient__c</object>
        <valueField>Full_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Patient Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Patient Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Feedback</name>
        <label>Create Feedback</label>
        <locationX>783</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Get_New_Feedback</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Patientchoice</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Feedback</name>
        <label>Get New Feedback</label>
        <locationX>573</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Successful</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Feedback</elementReference>
            </value>
        </filters>
        <object>Feedback__c</object>
        <outputAssignments>
            <assignToReference>feedbackrecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_List</name>
        <label>Get Patient List</label>
        <locationX>411</locationX>
        <locationY>302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Patient_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Name__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Patient_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Date_Of_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Date_of_Birth_ff</elementReference>
            </value>
        </filters>
        <object>Patient__c</object>
        <outputAssignments>
            <assignToReference>PatientInfo.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Date_of_Birth</name>
        <label>Date of Birth</label>
        <locationX>176</locationX>
        <locationY>308</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Patient_List</targetReference>
        </connector>
        <fields>
            <name>Patient_Name</name>
            <dataType>String</dataType>
            <fieldText>Patient Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_of_Birth_ff</name>
            <dataType>Date</dataType>
            <fieldText>Date of Birth</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Patient_Feedback</name>
        <label>Patient Feedback</label>
        <locationX>786</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Feedback</targetReference>
        </connector>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Successful</name>
        <label>Successful</label>
        <locationX>374</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Feedback_Create_Success</name>
            <fieldText>&lt;p&gt;Successfully Created Patient Feedback - FeedbackId : {!feedbackrecordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Date_of_Birth</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>feedbackrecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>PatientInfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Patient__c</objectType>
    </variables>
    <variables>
        <name>PatientList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Patient__c</objectType>
    </variables>
</Flow>
