force-app/main/default/flows/Refill_Prescription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Deduct_Refill_And_Assign_Filled_By_Assignment</name>
        <label>Deduct Refill And Assign Filled By Assignment</label>
        <locationX>762</locationX>
        <locationY>237</locationY>
        <assignmentItems>
            <assignToReference>varPrescriptionRecord.Refills__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Prescription_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Prescription_Verification_Decision</name>
        <label>Prescription Verification Decision</label>
        <locationX>537</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prescription_is_Correct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceYes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deduct_Refill_And_Assign_Filled_By_Assignment</targetReference>
            </connector>
            <label>Prescription is Correct</label>
        </rules>
        <rules>
            <name>Prescription_is_Incorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChoiceNo</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bye_Screen</targetReference>
            </connector>
            <label>Prescription is Incorrect</label>
        </rules>
    </decisions>
    <interviewLabel>Refill Prescription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refill Prescription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Prescription_Record</name>
        <label>Get Prescription Record</label>
        <locationX>179</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPrescriptionId</elementReference>
            </value>
        </filters>
        <object>Prescription__c</object>
        <outputReference>varPrescriptionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Refills__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Prescription_Record</name>
        <label>Update Prescription Record</label>
        <locationX>946</locationX>
        <locationY>240</locationY>
        <connector>
            <targetReference>Refill_Successful</targetReference>
        </connector>
        <inputReference>varPrescriptionRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Bye_Screen</name>
        <label>Bye Screen</label>
        <locationX>540</locationX>
        <locationY>511</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ByeScreen</name>
            <fieldText>&lt;p&gt;Thanks for using the feature.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>372</locationX>
        <locationY>233</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Prescription_Verification_Decision</targetReference>
        </connector>
        <fields>
            <name>Continue</name>
            <choiceReferences>ChoiceYes</choiceReferences>
            <choiceReferences>ChoiceNo</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Continue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>206</locationX>
        <locationY>438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refill_Successful</name>
        <label>Refill Successful</label>
        <locationX>1150</locationX>
        <locationY>239</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessfulRefill</name>
            <fieldText>&lt;p&gt;Successfully refilled prescription.&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Prescription_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varPrescriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrescriptionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Prescription__c</objectType>
    </variables>
</Flow>
